@using CityPopulationService

@model CityModel


@*
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

        <div class="mb-3">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
        </div>

*@

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create City</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="State"></label>
            <select id="drpEmpList" class="form-control" asp-for="State" asp-items="@(new SelectList(Model.StateList, "Value", "Text"))">  
                    <option value="">--Select--</option>  
            </select> 
        </div>
        <div class="mb-3">
            <label asp-for="Population"></label>
            <input asp-for="Population" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="City" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>