@using CityPopulationService

@model CityData


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit City</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="City"></label>
            <input asp-for="City" disabled class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="State"></label>
            <input asp-for="State" disabled class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Population"></label>
            <input asp-for="Population" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="City" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>